use node

export REQUESTS_LOG='log/requests.log'

export ASSETS_ROOT='ui/static'
export HTTP_URL_BASE='http://localhost:5000'
export WS_URL_BASE='ws://localhost:5000'

PATH_add "./ui/node_modules/.bin"

PATH_add "$(stack path --local-install-root)/bin"
PATH_add "$(stack path --local-bin)"
