export GIT_AUTHOR_NAME='Juan Edi'
export GIT_AUTHOR_EMAIL='jedi11235@gmail.com'
export GIT_COMMITTER_NAME='Juan Edi'
export GIT_COMMITTER_EMAIL='jedi11235@gmail.com'

use node

PATH_add "./node_modules/.bin"
