# needed for servant-websockets
export NIXPKGS_ALLOW_BROKEN=1

use nix

export REQUESTS_LOG='log/requests.log'

export ASSETS_ROOT='ui/static'
export HTTP_URL_BASE='http://localhost:5000'
export WS_URL_BASE='ws://localhost:5000'

PATH_add ./bin
