#paises {
  pointer-events: all;
}

#paises > #america_norte * {
  fill: #ca9782;
}

#paises > #america_sur * {
  fill: #848585;
}

#paises > #asia * {
  fill: #868485;
}

#paises > #oceania * {
  fill: #7badc7;
}

#paises > #europa * {
  fill: #b2a7b4;
}

#paises > #africa * {
  fill: #ab8c78;
}

.active-country {
  fill-opacity: 100% !important;
  stroke-width: 1px;
}

#paises * {
  fill-opacity: 60%;
}

#borde_interno {
  fill: #beddeb;
  stroke-dasharray: 3;
  stroke-opacity: 50%;
  stroke-width: 0.5px;
}
